body{
    font-family:Courier New, Courier, monospace;
}

table{
    font-family:Courier New, Courier, monospace;
    width:100%;
    font-size:10px;
}

th{
    height:14px;
    font-weight:700;
    border-bottom-width:1px;
}

td{
    height:14px;
    font-family:Courier New, Courier, monospace;
}

.centro {
    text-align:center;
}

.dvalor{
    width:12.5%;
}

.dvalorr{
    width:12.5%;
}

.dCuenta{
    width:11%;
}

.dDesc{
    width:30%;
}

.expadin{
    height:33.9px;
}

.negrita{
    font-weight:700;
}

.Derecha  {
   right:10%;
}

.DerechaR {
    text-align:right;
}

.total {
    font-weight:700;
    border-top-width:1px;
}

.Resumen {
    font-size:15px;
    border-bottom-width:1px;
}

.espacioR{
    width:5%;
}
.Wid {
    width: 2%;
   
}
.Widd {
    width: 5%;
}
.Credito {
    width: 1%;
}
