body{
    font-family:Courier New, Courier, monospace;
}
table{
    font-family:Courier New, Courier, monospace;
    width:100%;
    font-size:10px;
}
th{
    height:14px;
    font-weight:700;
    border-bottom-width:1px;
}
td{
    height:14px;
    font-family:Courier New, Courier, monospace;
}
.centro {
    text-align:center;
}
.dvalor{
    text-align:right;
    width:12.5%;
}
.dfecha{
    width:10%;
}
.ddoc{
    width:11%;
}
.dcuenta{
    width:11%;
}
.expadin{
    height:28px;
}
.negrita{
    font-weight:700;
}


.derecha  {
    
    text-align:right;

}

.total {

    border-top-width:1px;
}
CCCC